#reset {
  text-align: center;
  margin: auto;
  background-color: #818384;
  border-radius: 2%;
  margin-top: 10px;
  width: 10em;
  font-size: 20px;
  height: 1.5em;
  line-height: 1.5em;
  cursor: pointer;
  user-select: none;
}
#keyboard {
  text-align: center;
  margin: 0 auto;
  font-size: small;
  margin-top: 10px;
}
.keyRows {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: none;
}
.keys {
  border-radius: 10%;
  line-height: 55px;
  margin: 2px;
  background-color: #818384;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 35px;
  height: 55px;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  user-select: none;
}
.keys#grey {
  background-color: #3a3a3c;
}
.keys#green {
  background-color: #538d4e;
}
.keys#yellow {
  background-color: #b59f3b;
}
@media only screen and (max-device-width: 480px) {
  .keys {
    border-radius: 10%;
    line-height: 45px;
    margin: 3px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20px;
    height: 45px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    user-select: none;
  }
}
