html {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  background-color: #121213;
  color: whitesmoke;
  margin: 50px;
  margin-top: 20px;
}
main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 90px;
}
#mode {
  flex-shrink: 0;
  width: 1.1em;
  height: 1.1em;
  margin-bottom: 10px;
  cursor: pointer;
}
.color_blind#mode {
  background-image: url('off_icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.lock#mode {
  background-image: url('night_lock.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.day_night#mode {
  background-image: url('night_icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  position: absolute;
  z-index: 1;
  opacity: 0;
  color: #000000d0;
  border-radius: 4%;
  width: 10em;
  height: 40px;
  line-height: 40px;
  top: 5em;
  background-color: rgb(255, 255, 255);
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  font-size: x-large;
  animation-fill-mode: forwards;
}
h1#popup {
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-name: popup;
}
#tryTable {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 30%;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: none;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: none;
}
.row#error {
  animation-timing-function: ease;
  animation-duration: 0.3s;
  animation-name: error;
}
.cell {
  line-height: 53px;
  margin: 3px;
  border: 2px solid #3a3a3c;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 53px;
  height: 53px;
  transition: transform 0.5s ease-in-out;
  user-select: none;
  animation-fill-mode: forwards;
}
.cell#input {
  border: 2px solid #89898d;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-name: focus;
}
.cell#selected {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-name: focus;
}
.cell#grey {
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-name: flipG2;
}
.cell#green {
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-name: flipG;
}
.cell#yellow {
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-name: flipY;
}
.cell#blue {
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-name: flipB;
}
.cell#orange {
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-name: flipO;
}
@keyframes focus {
  from {
    font-size: 35px;
    flex-basis: 53px;
    transform: rotate3d(0, 0, 1, 10deg);
  }

  to {
    font-size: 37px;
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes flipY {
  from {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, -90deg);
  }
  90% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  to {
    border: 2px solid #3a3a3c21;
    background-color: #b59f3b;
  }
}
@keyframes flipG2 {
  from {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, -90deg);
  }
  90% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  to {
    border: 2px solid #3a3a3c21;
    background-color: #3a3a3c;
  }
}
@keyframes flipG {
  from {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, -90deg);
  }
  90% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  to {
    border: 2px solid #3a3a3c21;
    background-color: #538d4e;
  }
}
@keyframes error {
  from {
    width: 110%;
  }
  25% {
    width: 90%;
  }
  50% {
    width: 110%;
  }
  75% {
    width: 90%;
  }
  to {
    width: 100%;
  }
}
@keyframes popup {
  from {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
